html {
  font-family: "Righteous", cursive;
}

body {
  margin: 20px 30px;
}

a {
  text-decoration: none;
}

h1 {
  color: blue;
}

/* ****************** */
/* Game Board Styling */
/* ****************** */
.drop-row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 4px;
  margin-top: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: 3px;
}

.game-border {
  border: 3px solid grey;
}

.git-repo {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 -30px;
}

.hidden {
  display: none;
}

.margin {
  margin: 40px;
}

#reset {
  background-color: rgb(146, 247, 247);
  height: 20px;
  border-top: 3px solid grey;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 4px;
  background-color: rgb(244, 250, 154);
}

/* *************** */
/* Message Styling */
/* *************** */
.errors {
  color: red;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.messages {
  display: flex;
  justify-content: center;
}

.start {
  background-color: greenyellow;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: -5px;
  box-shadow: 3px 3px grey;
}

/* ************ */
/* Chip Styling */
/* ************ */
.chip {
  width: 45px;
  height: 45px;
  margin: 5px 0 0 -2px;
  border-radius: 25px;
}

.chip0 {
  background-color: rgb(59, 59, 59);
}

.chip1,
.chip1-hover:hover {
  background-color: lightcoral;
}

.chip2,
.chip2-hover:hover {
  background-color: lightblue;
}

.drop {
  text-shadow: 0px 2px grey;
  width: 46px;
  margin: 10px 5px;
  height: 46px;
  font-size: 0.8em;
  border-radius: 25px;
  box-shadow: 2px 4px grey;
  display: flex;
}