html {
  font-family: "Righteous", cursive;
}

.game {
  border: 3px solid grey;
  display: flex;
  margin: 10px 20px;
  flex-direction: column;
  height: 100%;
  width: 90%;
}

.row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: aqua;
  padding-bottom: 4px;
}

.drop {
  text-shadow: 0px 2px grey;
  width: 46px;
  margin: 10px 5px;
  height: 46px;
  font-size: 0.8em;
  border-radius: 25px;
  box-shadow: 2px 4px grey;
}

.chip {
  width: 41px;
  height: 41px;
  margin: 5px 0 0 -2px;
  border-radius: 25px;
}

.chip0 {
  background-color: black;
}

.chip1 {
  background-color: yellow;
}

.chip2 {
  background-color: blue;
}
